html{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.roboto{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-indent: 25px;
}

#pokeLogo{
    display: block;
    margin: 1px auto;
    height: 150px;
    width: 200px;
}

.container2{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    height: 510px;
    width: 380px;
    background-color: #F5F5F5;
    border-radius: 20px;
    border-width: 1px;
    border-color: #8c8c8c;
    transition: all 0.5s ease;
}

.registration-h1{
    font-size: 30px;
    text-align: left;
    text-indent: 25px;
}

.registration-h6{
    font-size: 15px;
    text-align: left;
    text-indent: 25px;
    color: #4d4d4d;
}

.input-control{
    display: block;
    margin: 3px auto;
    padding: 10px 5px;
    height: 30px;
    width: 330px;
    border-radius: 5px;
    border-width: 1px;
    text-align: left;
    background-color: #FFFFFF;
    border-color: #8c8c8c;
}

#iIcon{
    height: 20px;
    width: 20px;
    margin-right: 0px;
}

#btn {
    display: block;
    margin: 0 auto;  
    padding: 10px 20px;
    height: 35px;
    width: 350px;
    border-radius: 50px;
    text-align: center;
    background-color: #FF0000;
    border-color: #E73121;
    border-width: 0px;
    font: 'Roboto', sans-serif;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
}

hr.register{
    border: none;
    height: 1px;
    margin: 14px;
    width: 350px;
    background-color: #4d4d4d;
    margin-top: 10px;
}

p{
    text-align: center;
}

#passwordHelpBlock{
    text-indent: 25px;
}

hr.background{
    height: 2px;
    width: 95vw;
    background-color: #4d4d4d;
    margin-top: 50px;
}
p{
    font-size: 12px;
    color: #4d4d4d;
}